@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* Common */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.text_theme {
  color: #ff42a5;
}

.btn {
  padding: 21px 40px;
  border-radius: 48px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn_primary {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: white;
}

.btn_success {
  background-color: #4ec5f7;
  color: white;
}

.btn_white {
  background-color: #fff;
  color: #ff42a5;
}

/* Responsive Common */
@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  .btn {
    padding: 13.1px 30px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .btn {
    padding: 11px 30px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    width: 100%;
  }
  .btn {
    padding: 10px 18px;
    font-size: 10px;
  }
}
/* Nav */
nav {
  width: 80%;
  margin: 38px auto;
}
nav .logo {
  gap: 20px;
}
nav .logo img {
  width: 86.041px;
  height: 40px;
}
nav .logo h1 {
  font-size: 45px;
  font-weight: 700;
}
nav ul {
  gap: 2rem;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
nav ul .follow {
  gap: 24px;
  padding: 12px;
  text-decoration: none;
  border-radius: 8px;
  color: #3c354f;
  cursor: pointer;
  background: rgba(11, 2, 35, 0.1);
}
nav ul .follow span {
  font-size: 18px;
  font-weight: 500;
}
/* Responsive Nav */
@media only screen and (max-width: 1024px) {
  nav {
    width: 90%;
    margin: 18px auto;
  }
  nav .logo img {
    width: 50px;
    height: 30px;
  }
  nav .logo h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 768px) {
  nav {
    width: 95%;
    margin: 10px auto;
  }
  nav .logo img {
    width: 40px;
    height: 20px;
  }
  nav .logo h1 {
    font-size: 35px;
  }
  nav ul {
    gap: 1.2rem;
  }
  nav ul li a {
    font-size: 16px;
  }
  nav ul .search {
    gap: 4px;
    padding: 8px;
  }
  nav ul .search input {
    font-size: 12.7px;
  }
}
@media only screen and (max-width: 425px) {
  nav {
    width: 100%;
    margin: 20px auto;
    flex-direction: column;
    gap: 1rem;
  }
  nav ul {
    flex-direction: column;
    gap: 1rem;
  }
  nav ul .search {
    padding: 10px;
  }
}
/* Hero Area */
.hero_area {
  background-image: url(/assets/images/Heroback.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: left;
  background-size: contain;
}
.hero_area .hero_content {
  width: 100%;
  height: 100%;
  padding: 150px 0px;
}
.hero_area .hero_content h1 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.hero_area .hero_content .title {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_area .hero_content .list {
  margin: 30px 0px 40px 0px;
}
.hero_area .hero_content .list .listItem {
  display: flex;
  justify-content: start;
  gap: 4px;
  margin-top: 20px;
  font-size: 20px;
  align-items: center;
}
.hero_area .hero_content .list .listItem .icon {
  cursor: pointer;
}
.hero_area .hero_content .btn_group {
  display: flex;
  justify-content: start;
  gap: 24px;
  margin-top: 20px;
}
.hero_area .hero_thumbnail {
  width: 100%;
  height: 100%;
}
.hero_area .hero_thumbnail img {
  width: 100%;
  height: 100%;
}

/* Responsive Hero Area*/
@media only screen and (max-width: 1440px) {
  .hero_area .hero_content {
    padding: 100px 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero_area {
    background-size: 520px 540px;
  }
}
@media only screen and (max-width: 768px) {
  .hero_area {
    background-size: 370px 540px;
  }
  .hero_area .hero_content {
    padding: 50px 0px;
  }
  .hero_area .hero_content h1 {
    font-size: 32px;
  }
  .hero_area .hero_content .title {
    font-size: 65px;
  }
  .hero_area .hero_content .list {
    margin: 20px 0px 0px 0px;
  }
  .hero_area .hero_content .list .listItem {
    font-size: 12px;
  }
}
@media only screen and (max-width: 425px) {
  .hero_area {
    background: none;
  }
  .hero_area .container {
    width: 80%;
    margin: 60px auto;
  }
  .hero_area .flex {
    flex-direction: column-reverse;
  }
  .hero_area .hero_content {
    background-image: url(./assets/images/Heroback.png);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 380px 400px;
  }
  .hero_area .hero_content h1 {
    font-size: 28px;
  }
  .hero_area .hero_content .title {
    font-size: 55px;
  }
  .hero_area .hero_content .list {
    margin: 0;
  }
  .hero_area .hero_content .list .listItem {
    font-size: 11px;
  }
  .hero_area .hero_content .list .listItem .icon img {
    width: 20px;
  }
}
/* Gamer */
.gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 40px 0px;
}
.gamer .gamer_img img {
  width: 100%;
}
.gamer .content {
  text-align: right;
  max-width: 520px;
}
.gamer .content h1 {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer .content p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0px;
}
.gamer .content strong {
  display: block;
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0;
}
.gamer .content h2 {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
}

/* Responsive Gamer */
@media only screen and (max-width: 768px) {
  .gamer .gamer_img img {
    width: 100%;
  }
  .gamer .content h1 {
    font-size: 38px;
  }
  .gamer .content p {
    font-size: 14px;
  }
  .gamer .content strong {
    font-size: 15px;
  }
  .gamer .content h2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 425px) {
  .gamer .flex {
    flex-direction: column;
    align-items: center;
  }
  .gamer .gamer_img img {
    width: 100%;
  }
  .gamer .content {
    text-align: center;
    margin: 0px 20px;
  }
  .gamer .content h1 {
    font-size: 38px;
  }
  .gamer .content p {
    font-size: 14px;
  }
  .gamer .content strong {
    font-size: 15px;
  }
  .gamer .content h2 {
    font-size: 22px;
  }
}
/* Videos */
.videos_section {
  margin: 100px 0px;
  text-align: center;
}
.videos_section h1 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.videos_section h1 .text_liner {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.videos_section p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 0px;
}
.videos_section .videos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.videos_section .videos .single_video {
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.videos_section .videos .single_video .img_box {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 16px;
  overflow: hidden;
}
.videos_section .videos .single_video .img_box img {
  width: 100%;
  height: 100%;
}
.videos_section .videos .single_video .img_box .hover {
  position: absolute;
  top: 102%;
  transition: all ease-in-out 0.4s;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 16px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.videos_section .videos .single_video .img_box .hover .icon {
  cursor: pointer;
}
.videos_section .videos .single_video .img_box .hover p {
  color: #ff42a5;
  font-size: 20px;
}
.videos_section .videos .single_video .img_box:hover .hover {
  top: 0%;
  border: 2px solid #ff42a5;
}
/* Responsive Videos */
@media only screen and (max-width: 1200px) {
  .videos_section .videos .single_video {
    height: 400px;
  }
  .videos_section .videos .single_video .img_box {
    height: 300px;
  }
}
@media only screen and (max-width: 1024px) {
  .videos_section .videos .single_video {
    height: 350px;
  }
  .videos_section .videos .single_video .img_box {
    height: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .videos_section {
    margin: 60px 0px;
  }
  .videos_section h1 {
    font-size: 38px;
  }
  .videos_section p {
    font-size: 12px;
  }
  .videos_section .videos .single_video {
    height: 300px;
  }
  .videos_section .videos .single_video .img_box {
    height: 200px;
  }
  .videos_section .videos .single_video .img_box .hover .icon {
    width: 26px;
  }
  .videos_section .videos .single_video .img_box .hover p {
    font-size: 14px;
  }
  .videos_section .videos p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 530px) {
  .videos_section h1 {
    font-size: 20px;
  }
  .videos_section p {
    font-size: 10px;
    margin-bottom: 12px;
  }
  .videos_section .videos {
    flex-direction: column;
    width: 70%;
    margin: 0px auto;
  }
  .videos_section .videos .single_video {
    height: 250px;
  }
}
/* Play */
.play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 190px;
}
.play .thumbnail {
  width: 100%;
  position: relative;
}
.play .thumbnail img {
  width: 100%;
  height: 100%;
}
.play .thumbnail .child {
  width: 318px;
  height: 365px;
  position: absolute;
  bottom: -25%;
  right: -25%;
}
.play .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.play .content h1 {
  max-width: 426px;
  font-size: 48px;
  font-weight: 700;
}
.play .content h1 .text_play {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play .content p {
  max-width: 426px;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}

/* Responsive Play */
@media only screen and (max-width: 1800px) {
  .play .thumbnail {
    width: 70%;
  }
  .play .thumbnail .child {
    width: 258px;
    height: 265px;
    position: absolute;
    bottom: -21.4%;
    right: -21.9%;
  }
}
@media only screen and (max-width: 1500px) {
  .play .thumbnail .child {
    width: 208px;
    height: 205px;
    position: absolute;
    bottom: -21.4%;
    right: -21.9%;
  }
}
@media only screen and (max-width: 1400px) {
  .play .thumbnail .child {
    width: 138px;
    height: 135px;
    position: absolute;
    bottom: -15.4%;
    right: -15.6%;
  }
  .play .content h1 {
    font-size: 38px;
  }
  .play .content p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .play {
    margin-bottom: 130px;
  }
  .play .thumbnail .child {
    bottom: -20.3%;
    right: -21.9%;
  }
  .play .content h1 {
    font-size: 27.9px;
    max-width: 236px;
  }
  .play .content p {
    font-size: 15px;
    max-width: 236px;
  }
}
@media only screen and (max-width: 425px) {
  .play {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 25px;
    margin-bottom: 110px;
  }
  .play .thumbnail {
    width: 100%;
  }
  .play .thumbnail img {
    width: 50%;
    position: relative;
    left: -30px;
  }
  .play .thumbnail .child {
    bottom: -30.3%;
    right: 8.1%;
  }
  .play .thumbnail .child img {
    width: 100%;
  }
  .play .content h1 {
    width: 100%;
    max-width: 280px;
  }
  .play .content p {
    width: 100%;
  }
}

/* Games */
.games {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin-top: 250px;
  padding-top: 90px;
  padding-bottom: 90px;
}
.games .game_items {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.games .game_items .game_item {
  display: flex;
  justify-content: start;
  padding: 11px;
  gap: 5px;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: all 0.9s;
  cursor: pointer;
}
.games .game_items .game_item img {
  width: 60px;
  height: 60px;
}
.games .game_items .game_item figcaption {
  color: #0b0223;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s;
}
.games .game_items .game_item:hover {
  border: 2px solid #ff42a5;
}
.games .game_items .game_item:hover figcaption {
  color: #ff42a5;
}

@media only screen and (max-width: 768px) {
  .games {
    margin-top: 150px;
  }
}
@media only screen and (max-width: 425px) {
  .games {
    margin-top: 120px;
  }
  .games .container {
    width: 95%;
  }
  .games .game_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  .games .game_items .game_item img {
    width: 26px;
    height: 26px;
    border-radius: 50px;
  }
  .games .game_items .game_item figcaption {
    font-size: 10px;
  }
}
@media only screen and (max-width: 330px) {
  .games .container {
    width: 100%;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: black;
  padding: 100px 0px;
}
footer a {
  text-decoration: none;
}
footer p {
  color: rgba(255, 255, 255, 0.6);
}
footer ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
}
footer .menu li a {
  color: #fff;
  font-size: 18px;
}
footer .Policy {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
footer .Policy li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  footer {
    gap: 1rem;
  }
  footer ul {
    gap: 1rem;
  }
  footer .menu li a {
    font-size: 16px;
  }
  footer .social li a img {
    width: 28px;
  }
  footer .Policy li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 530px) {
  footer p {
    font-size: 12px;
  }
  footer ul {
    grid-template-columns: repeat(3, 1fr);
  }
  footer .Policy {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 330px) {
  footer {
    text-align: center;
  }
}
